@use '../../../styles/variables' as *;

.load-more-section {
    display: flex;
    gap: $margin;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: $padding-large;

    span {
        color: $text-color-subtle;
    }
  }