<div class="bike-list">
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Stolen Location</th>
        <th>Serial Number</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bike of bikes">
        <td>{{ bike.title }}</td>
        <td>{{ bike.stolen_location }}</td>
        <td class="overflow-hidden" title="{{ bike.serial }}">{{ bike.serial }}</td>
        <td>
          <a href="bikes/{{bike.id}}">
            See details
          </a>

        </td>
      </tr>
    </tbody>
  </table>
</div>