<div class="bike-list">
  <table>
    <thead>
      <tr>
        <th>Bike</th>
        <th>Stolen Location</th>
        <th>Serial Nᵒ</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bike of bikes">
        <td>{{ bike.title }}</td>
        <td>{{ bike.stolen_location }}</td>
        <td class="overflow-hidden" title="{{ bike.serial }}">{{ bike.serial }}</td>
        <td>
          <a routerLink="bike/{{bike.id}}" routerLinkActive="active" ariaCurrentWhenActive="page">See details</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>