@use '../../../styles/variables' as *;

.empty-msg {
    padding: $padding-large;
    text-align: center;
}

.loading-state {
    display: flex;
    gap: $margin;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: $padding-large;
  }