@use '../styles/variables' as *;

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.content {
  width: 100%;
  flex-grow: 1;
  overflow: auto;
  padding: $padding-large;
  box-sizing: border-box;

  @media (max-width: $breakpoint-sm) {
    padding: 0;
  }
}
