@use '../../../styles/variables' as *;

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.app-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $surface-color; // primary color
  padding: $padding $padding-large;
  color: $surface-color;
  box-shadow: $box-shadow;

  .brand-logo-container {
    display: flex;
    align-items: center;

    .brand-logo {
      height: 40px;
    }
  }

  .nav-links {
    display: flex;
    gap: $padding;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $primary-color;
      text-decoration: none;
      font-size: $font-size-large;
      transition: $transition;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
