@use './styles/variables' as *;
@use './styles/icons';
@use '@angular/material' as mat;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');


html {
  min-height: 100%;
  margin: 0;
  color-scheme: light dark;
  @include mat.theme((
    color: mat.$green-palette,
    typography: Roboto,
    density: 0
  ));
}

body {
  background: $background-color-light;
  font-family: $font-family-body;
  margin: 0;
  padding: 0;
  color: $secondary-color-light;
}

@media (prefers-color-scheme: dark) {
  body {
    background: $background-color-dark;
    color: $secondary-color-dark;
  }
}

html, body { height: 100%; }


.iconButton {
  cursor: pointer;
  background: $background-color-light;
  border-radius: $border-radius;
  padding: $padding;
  border: none;
  margin-left: $margin-small;
  color: $secondary-color-light;

  @media (prefers-color-scheme: dark) {
      background: $background-color-dark;
      color: $secondary-color-dark;
  }
}