@use './styles/variables' as *;
@use './styles/icons';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');


html {
  min-height: 100%;
  margin: 0;
  color-scheme: light dark;
}

body {
  background: $background-color;
  font-family: $font-family-body;
  margin: 0;
  padding: 0;
  color: $text-color;
}

html, body { height: 100%; }


.iconButton {
  cursor: pointer;
  background: $background-color;
  border-radius: $border-radius;
  padding: $padding;
  border: none;
  margin-left: $margin-small;
  color: $secondary-color;
}