<ng-container *ngIf="store.loading() && !store.bikes().length; else dataBlock">
    <div class="loading-state">
      <p>Loading reports...</p>
    </div>
  </ng-container>
  
  <ng-template #dataBlock>
    <ng-container *ngIf="store.bikes()?.length; else noResults">
      <app-bike-list [bikes]="store.bikes()" />
    </ng-container>
  </ng-template>
  
  <ng-template #noResults >
    <p class="empty-msg" *ngIf="store.location(); else startSearch">No reports found.</p>
    <ng-template #startSearch>
      <p class="empty-msg">Type a city to see reports</p>
    </ng-template>
  </ng-template>

  <p class="error-msg" *ngIf="store.error()">
    {{ store.error() }}
  </p>
  